<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>01_HelloWorld</title>
</head>
<body>

<!--
  1. 引入Vue.js
  2. 创建Vue对象
    el : 指定根element(选择器)
    data : 初始化数据(页面可以访问)
  3. 双向数据绑定 : v-model
  4. 显示数据 : {{xxx}}
  5. 理解vue的mvvm实现
-->

<!--VUE双向绑定的例子-模板-->
<!--给div加了一个id-->
<div id="test"><!--MVVM中的view视图-->
  <input type="text" v-model="msg"><br><!--指令-->
  <input type="text" v-model="msg"><!--指令-->
  <p>hello {{msg}}</p><!--大括号表达式-->
</div>


<!--引入VUE使用的js文件-->
<script type="text/javascript" src="../js/vue.js"></script>


<!--我们自己写的js文件-->
<script type="text/javascript">

  /*创建了一个VUE实例 VM*/
  const vm = new Vue({ // 传递进来了一个配置对象 options vm就是MVVM中的实例
    // 配置选项(option)
    el: '#test',  // el:element:元素选择器 指定用vue来管理页面中的哪个标签区域
      // data就是数据 MVVM里面的m(model)
    data: {
      msg: 'atguigu'
    }
  })

</script>
</body>
</html>